alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

alias rake="noglob rake"

alias bubu="brew update && brew upgrade"

alias t="todo.sh"

alias so="source"

alias ts="tig status"
