alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

alias hd="hidedesktop; hide.applescript"
alias sd="showdesktop; show.applescript"

alias rake="noglob rake"

alias bubu="bubu.sh"

alias so="source"

# App shortcuts
alias t="todo.sh"
alias todo="todotxt-machine ./todo.txt"

alias ts="tig status"

alias vims="vim -S Session.vim"

alias urldecode='python -c "import sys, urllib as ul; \
                [sys.stdout.write(ul.unquote_plus(l)) for l in sys.stdin]"'

# alias urldecode='python -c "import sys, urllib as ul; \
#                 print ul.unquote_plus(sys.argv[1])"'

alias urlencode='python -c "import sys, urllib as ul; \
                print ul.quote_plus(sys.argv[1])"'

alias bs="build-status"

alias altool="/Applications/Xcode.app/Contents/Applications/Application\ Loader.app/Contents/Frameworks/ITunesSoftwareService.framework/Support/altool"

alias la="ls -la"

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias pcat='pygmentize -f terminal256 -O style=monokai -g'
