[alias]
	c = commit
	p = push
	s = status -s

	# Updating local branch
	u = merge --ff-only
	r = rebase --autostash

	# Viewing changes
	df = "!f() { if [ -z "$1" ]; then git diff; else git diff "$1"^.."$1"; fi }; f"
	# staged = diff --color --color-words --abbrev --cached

	# Commit Details
	# fileschanged = log --pretty=format:'%C(bold black)(%h)%C(reset) %C(bold magenta)%d%C(reset) %C(white)%s%C(reset) %C(black)(%ar, %an)%C(reset)' --decorate --numstat
	# dr = "!f() { git diff "$1"^.."$1"; }; f"
	# lc  = "!f() { git fileschanged "$1"^.."$1"; }; f"

	# Commit graph
	tree = log --color --graph --pretty=format:'%C(bold magenta)%d%C(reset) %C(white)%s%C(reset) %C(black)(%C(bold black)%h%C(reset)%C(black) %ar, %an)%C(reset)' --decorate=no --all
	t = !git --no-pager log --color --graph --pretty=tformat:'%C(bold magenta)%d%C(reset) %C(white)%s%C(reset) %C(black)(%C(bold black)%h%C(reset)%C(black) %ar, %an)%C(reset)' --decorate=no --all -n 15
	# today = !git --no-pager log --color --pretty=tformat:'%C(bold black)(%h)%C(reset) %C(white)%s%C(reset)' --decorate=no --all --since=midnight --author='Jeff Knaggs'
[color]
	ui = always
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
	defaultToUpstream = true
	tool = vimdiff
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[help]
	autocorrect = 1
[push]
	default = simple

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:jeef3/"]
  insteadOf = "git://github.com/jeef3/"
