[submodule ".zsh/plugged/zsh-git-prompt"]
	path = .zsh/plugged/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".zsh/plugged/zsh-completions"]
	path = .zsh/plugged/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule ".zsh/plugged/zsh-async"]
	path = .zsh/plugged/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule ".zsh/plugged/up.zsh"]
	path = .zsh/plugged/up.zsh
	url = https://github.com/peterhurford/up.zsh.git
[submodule ".zsh/plugged/zsh-iterm-touchbar"]
	path = .zsh/plugged/zsh-iterm-touchbar
	url = https://github.com/iam4x/zsh-iterm-touchbar.git
[submodule ".config/ranger/plugins"]
	path = .config/ranger/plugins
	url = https://github.com/alexanderjeurissen/ranger_devicons
