[alias]
	c = commit
	cp = commit -p
	co = checkout
	p = push
	s = status -s

	wtf = blame

	# Updating local branch
	u = merge --ff-only

	l = fetch -avp

	# Viewing changes
	# staged = diff --color --color-words --abbrev --cached

	# Commit Details
	# fileschanged = log --pretty=format:'%C(bold black)(%h)%C(reset) %C(bold magenta)%d%C(reset) %C(white)%s%C(reset) %C(black)(%ar, %an)%C(reset)' --decorate --numstat
	# dr = "!f() { git diff "$1"^.."$1"; }; f"
	# lc  = "!f() { git fileschanged "$1"^.."$1"; }; f"

	# Commit graph
	tree = log --color --graph --pretty=format:'%C(bold magenta)%d%C(reset)%n %C(bold black)%h%C(reset) %C(white)%s%C(reset)%n         %C(bold white)%aN (%aE)%C(reset)%n         %C(yellow)%ar%C(reset)' --decorate=short --all

	t = log --color --graph --pretty=format:'%C(bold black)%h%C(reset)%C(bold magenta)%d%C(reset) %C(white)%s%C(reset) %C(black)' --all

	sh = show --format='%C(bold black)%h%C(reset) %C(black)%aN (%aE)%C(reset)%n%n    %C(white bold)%s%C(reset)%n%+b' --patch-with-stat --ignore-all-space
[color]
	ui = always
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore-global
	attributesfile = ~/.gitattributes
	pager = less -+F -+X -S
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	log = true
	defaultToUpstream = true
	tool = vimdiff
[mergetool]
	prompt = false
[rebase]
	autostash = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[help]
	autocorrect = 1
[push]
	default = tracking

[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"

# Any GitHub repo with my username should be checked out r/w by default
# http://rentzsch.tumblr.com/post/564806957/public-but-hackable-git-submodules
[url "git@github.com:jeef3/"]
	insteadOf = "git://github.com/jeef3/"
