snippet tsx "TypeScript Component"
	import * as React from "react";

	export interface I$1Props {

	}

	const ${1:Thing}: React.StatelessComponent<I$1Props> = ({

	}) => (
		<div>
			${0}
		</div>
	);

	export default $1;
