snippet tsx "TypeScript Component"
	import * as React from "react";

	export interface $1Props {

	}

	const ${1:Thing}: React.StatelessComponent<$1Props> = ({

	}) => (
		<div>
			${0}
		</div>
	);

	export default $1;
snippet log
	console.log(${0});
snippet bind
	this.${1:handle} = this.$1.bind(this);
snippet jsxs "Styled Component"
	import styled from 'styled-components';

	export default styled.${1:div}\`
		${0}
	\`;
snippet it "it('should ')"
	it('should ${1}', () => {
		${0}
	});
